!!! 5
%head
  %title Tiger Ass Hole!
  %link(rel='stylesheet' href='/index.css' type='text/css')
%body
  %nav.navbar.navbar-inverse.navbar-fixed-top
    .navbar-header
      .navbar-text Tiger Ass Hole!
  #main
  %script(src='/index.js')
